<section class="project_section" id="certificate_section">
    <div class="project_head">
        <h2>My Achievment & Certificate</h2>
    </div>
    <div class="data_box certificate_data_box">
        {{!-- ISIM Hackathon Certificate --}}
        <div class="box certificate-box">
            <div class="img_container">
                <img src="./images/hackathon-winner.jpg" alt=" Hackathon certificate">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="./images/hackathon-winner.jpg">ISIM Hackathon 2.0 Winner</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Description
                    </span>
                    <p class="used certificate-para">
                        Our team developed a project called 'Alum Connect' in this hackathon, which allows
                        alumni to connect with students from their college and enables students to track their alumni in
                        real-time.
                    </p>
                </div>
            </div>
        </div>
        {{!-- Ethical Hacking Certificate --}}
        <div class="box certificate-box">
            <div class="img_container">
                <img src="./images/ethical-hacking.jpg" alt=" Hackathon certificate">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="./images/ethical-hacking.jpg">Ethical Hacking</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Description
                    </span>
                    <p class="used certificate-para">
                        I have acquired in-depth knowledge in networking and hacking tools through an ethical hacking
                        course. My expertise extends to understanding the intricacies of networking, coupled with
                        proficiency in various hacking tools and familiarity with OWASP principles. This comprehensive
                        skill set enables me to navigate complex security landscapes effectively and implement robust
                        cybersecurity measures.
                    </p>
                </div>
            </div>
        </div>
        {{!-- MERN Stack Certificate --}}
        <div class="box certificate-box">
            <div class="img_container">
                <img src="./images/mern-stack-tutedude.jpg" alt=" Hackathon certificate">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="./images/mern-stack-tutedude.jpg">MERN Stack Development</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Description
                    </span>
                    <p class="used certificate-para">
                        In addition to mastering the MERN (MongoDB, Express.js, React.js, Node.js) stack, I have also
                        acquired proficiency in MySQL database management and advanced JavaScript practices.
                    </p>
                </div>
            </div>
        </div>
        {{!-- C++ Certificate --}}
        <div class="box certificate-box">
            <div class="img_container">
                <img src="./images/cpp.jpeg" alt=" Hackathon certificate">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="./images/cpp.jpeg">CPP</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Description
                    </span>
                    <p class="used certificate-para">
                        I have built a strong foundation in programming through C++, gaining deep knowledge in
                        Object-Oriented Programming (OOP) principles. This expertise allows me to develop efficient and
                        organized code structures.
                    </p>
                </div>
            </div>
        </div>
        {{!-- Bharat Intern Certificate --}}
        <div class="box certificate-box">
            <div class="img_container">
                <img src="./images/bharatIntern.jpg" alt=" Hackathon certificate">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="./images/bharatIntern.jpg">Full Stack internship</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Description
                    </span>
                    <p class="used certificate-para">
                        During this internship, I gained hands-on experience in full-stack development, where I had the
                        opportunity to develop practical skills. I successfully built an e-commerce platform and a
                        weather application, showcasing my proficiency in both frontend and backend development.During
                        the internship, I delved deep into backend development, mastering tools like Nodemailer for
                        seamless email communication. Additionally, I gained extensive experience in API integration.
                    </p>
                </div>
            </div>
        </div>
        {{!-- Google Digital Marketing Certificate --}}
        <div class="box certificate-box">
            <div class="img_container">
                <img src="./images/Google.jpg" alt=" Hackathon certificate">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="./images/Google.jpg">Digital Marketing</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Description
                    </span>
                    <p class="used certificate-para">
                        During this internship, I gained a solid understanding of digital marketing fundamentals, and I
                        developed expertise in SEO (Search Engine Optimization), enhancing my ability to optimize online
                        content for better visibility and reach.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>