<section class="project_section" id="project_section">
    <div class="project_head">
        <h2>My Projects</h2>
    </div>
    <div class="data_box">
        <div class="box">
            <div class="img_container">
                <img src="./images/weather.jpeg" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://weather-project-n8gf.onrender.com">Weather Forecast</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js,express js,API
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="img_container">
                <img src="./images/E-commerce.jpg" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://newecommerce-tt9h.onrender.com/">E-commerce</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js, Express Js, API
                    </p>
                </div>
            </div>
        </div>
        {{!-- Attandance Management System--}}
        <div class="box">
            <div class="img_container">
                <img src="./images/Attandance.jpg" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://attandance-mangement.onrender.com/">Attandance Mangement System</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Hbs, Java Script, Node Js, Express Js
                    </p>
                </div>
            </div>
        </div>
        {{!-- Todo-List --}}
        <div class="box">
            <div class="img_container">
                <img src="./images/Todo_List.jpeg" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://addcoursebypankaj.000webhostapp.com/">ToDo-List</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script
                    </p>
                </div>
            </div>
        </div>
        {{!-- Blog Website --}}
        <div class="box">
            <div class="img_container">
                <img src="./images/Blog-web-app.jpg" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://github.com/pankaj7073/Blog_Website">Blog Web App (Github Link)</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script
                    </p>
                </div>
            </div>
        </div>
        {{!-- Portfolio --}}
        <div class="box">
            <div class="img_container">
                <img src="./images/portfolio.png" alt="">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://portfolio-pankaj1.onrender.com/">Portfolio</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Node Js, Express Js
                    </p>
                </div>
            </div>
        </div>
        {{!-- Rummy Games --}}
        <div class="box">
            <div class="img_container">
                <img src="./images/play-rummy-games.jpg" alt="clone">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://playrummygames.in/">RummyHub</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used (Publisher)
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, Wordpress
                    </p>
                </div>
            </div>
        </div>
        {{!-- Achiever Cloud Solution --}}
        <div class="box">
            <div class="img_container">
                <img src="./images/achiever-cloud-solution.jpg" alt="clone">
            </div>
            <div class="data_container">
                <div class="project_name">
                    <h3><a href="https://achiever-cloud-it-solution.onrender.com/">Achiever (Credit-Achiever)</a></h3>
                </div>
                <div class="project_data">
                    <span class="head">
                        Technology Used
                    </span>
                    <p class="used">
                        HTML, CSS, Java Script, React, Node Js , Express Js
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>